<%
=begin%>
This represents a post card that can be seen in the main page
<%
=end%>

<div id="<%= dom_id post %>">

    <div div class="card shadow-lg rounded-3 border-0 mb-3" style="min-height:330px">

        <div class="card-header d-flex align-items-center justify-content-between border-0 py-2">
                <h5 class="card-title">
                    <%= post.title %>
                </h5>

             <%= link_to post, class: "text-dark" do %>
             <button class="btn btn-dark">
                View post
                <i class="fa-solid fa-location-arrow fs-6"></i>
             </button>
            <% end %>
          
        </div>

        <div class="card-body d-flex flex-column justify-content-between">
            
                        <!-- I'm doing it to only display the ellipsis on the root or posts page, otherwise, the user will be able to see all the post content -->
            <% if request.path == "/posts" || request.path == "/"  %>
            <div style="max-height: 200px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">
                <p class="card-text">
                    <%= post.body.to_s %>
                </p>
            </div>
            <% else %>

           
                    <p class="card-text">
                        <%= post.body.to_s %>
                    </p>
     

            <% end %>

            <div class="d-flex flex-column">
                
                
                <h5 class="fs-6 fw-bold text-dark">
                    <%= post.user.email %>
                </h5>

                <h6 class="fs-6 fw-semibold text-secondary">
                    <%= time_tag post.updated_at, "data-local": "time", "data-format" => "%B %e, %Y %l:%M%P" %>
                </h6>



            </div>





        </div>

    </div>

</div>